<div class="body">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
      <h1 class="mt-2" style="text-align: center;font-size :6rem" >Erreur</h1>
      <h1 style="text-align: center" >Page Non Trouvé</h1>
      <div class="mt-2" style="text-align: center;font-size: 15rem;color: #d6d3d3" >404</div>
      <p  class="lead">
        <a [routerLink]="['/home']" class="btn btn-lg btn-secondary">Retourner vers page d'acceuil</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Propriété de 
          <a href="https://expertis.ma/">Expertis Decisions</a>
      </div>
    </footer>
  </div>
</div>