<!-- <div class="card-deck p-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Dossier Traites dans le Mois 10</h5>
      <div class="card-text">
        <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Dossier Traites dans le Mois 10</h5>
      <div class="card-text">
        <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div> -->

<div class="cover h-100 w-100 d-flex flex-column align-items-center justify-content-start">
  <div class="align-items-center d-flex flex-column mt-5">
    <img src="assets/img/GepexLogin.png" width="200px" height="200px">
    <p class="display-3">GEPEX</p>
  </div>
  <app-search ></app-search>
  <!-- <app-search [type]="'nummission'"></app-search> -->
</div>
